:root {
  --magenta: #bb3b8a;
  --berry: #930084;
  --offwhite: #fefefe;
  --ink: #333;
  --cornflowerblue: #6293eb;
  --gradient: linear-gradient(
    42deg,
    #7144ba,
    #bf2d82 46%,
    rgb(207, 48, 133) 100%
  );
  --theme-name: "light";
}

@media (prefers-color-scheme: dark) {
  :root {
    --magenta: #343334;
    --berry: #c5feb2;
    --offwhite: #282222;
    --ink: #f2efef;
    --cornflowerblue: #80e2ef;
    --gradient: rgb(184, 255, 178);
    --theme-name: "dark";
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lora", Georgia, "Times New Roman", Times, serif;
  line-height: 1.45;
  color: var(--ink);
  background-color: var(--offwhite);
  font-weight: 400;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: var(--ink);
  cursor: pointer;
}
img {
  display: block;
}
h1,
h2 {
  font-family: "Anton", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  font-weight: 400;
  line-height: 1.2;
}
/* Navigation */

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}
.menu__link {
  max-width: 2rem;
}
.nav__link {
  font-family: "Shadows Into Light Two", cursive;
  font-size: 1.5rem;
}
.nav__link:hover {
  text-decoration: underline;
  color: var(--berry);
}
.nav__logo {
  margin: 0 2rem;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0.9;
  filter: contrast(1.2);
}
.nav__logo:hover {
  opacity: 1;
}
.nav__logo:active {
  filter: grayscale();
}
#logo {
  max-width: 6rem;
  height: 80px;
}
/* Banner Styles */

.banner {
  display: flex;
  padding: 2rem 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--magenta);
  background-image: var(--gradient);
  background-size: 400% 400%;
  font-size: 1.25rem;
  max-width: 1240px;
  margin: 0 auto;
  animation: gradient 12s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}
.heroimg {
  height: 360px;
  position: relative;
}
.coffeecat {
  z-index: 2;
}
.coffeecat:hover {
  filter: brightness(1.1);
}
.coffeecat:active {
  filter: brightness(.5);
}
.solidarity {
  display: inline-block;
  position: absolute;
  animation: rotate 20s linear infinite;
  animation-play-state: running;
  z-index: 1;
  opacity: 50%;
  filter: blur(1px);

}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.banner__intro {
  max-width: 420px;
  color: #f2efef;
}
.banner__intro > h1 {
  font-size: 3em;
  padding-bottom: 0.75rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.banner__intro > p {
  padding-bottom: 2rem;
  line-height: 1.4;
}
.banner__intro > p > a {
  text-decoration: underline;
}
.banner__intro > p > a:hor {
  color: var(--berry);
}
/* Project Cards */

.section {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
}
.section__header {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
}
.hand {
  display: inline-block;
  animation: shaka 1s ease-in-out infinite;
  margin-left: 0.5rem;
}
@keyframes shaka {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(24deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
.section__header > a {
  font-family: "Shadows Into Light Two", cursive;
  text-decoration: underline;
  color: var(--cornflowerblue);
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.card-set {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1240px;
}
article.card {
  position: relative;
  margin: 1.5rem;
  min-width: 242px;
  max-width: 29rem;
  flex: 1 1 420px;
  padding: 1.5rem;
  border-radius: 8px;
  border: 2px solid #6a6a6a12;
  box-shadow: 0px 6px 19px -6px rgba(66, 66, 66, 0.25);
  font-size: 1.2rem;
}
article.card img {
  height: 300px;
  aspect-ratio: 4 / 3;
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 8px;
}
article.card:hover {
  box-shadow: 0px 3px 8px rgba(66, 66, 66, 0.3);
  top: 3px;
  filter: grayscale();
}
article.card:active,
article.card:focus {
  box-shadow: none;
  top: 8px;
  filter: grayscale();
}
.card__header {
  font-size: 2rem;
  font-weight: 300;
  margin: 1rem 0 0.5rem 0;
  text-transform: uppercase;
  letter-spacing: 0.02;
}

#contact {
  padding: 8rem 0;
}
/* Footer */

footer {
  margin-top: 3rem;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  display: grid;
  place-items: center;
  background-color: var(--magenta);
  color: white;
}
#footer_logo {
  max-width: 200px;
  margin-top: 1rem;
}
.footer__nav {
  display: flex;
  flex-wrap: wrap;
  font-size: 1em;
  margin-top: 0.75rem;
}
.footer__nav > li {
  list-style-type: none;
  font-size: 1.25rem;
  padding: 0.5rem 2rem;
  flex: 1 1 auto;
}
.social {
  width: 40px;
  height: 40px;
  opacity: 0.75;
}
.social:hover {
  opacity: 1;
}
#rock_you {
  display: none;
}
li > a:hover {
  color: var(--magenta);
  text-decoration: underline;
}
.banner__intro > p > a:hover,
.container > p > a:hover {
  color: var(--ink);
  filter: opacity(0.9);
}
/* Article Page Styles */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  max-width: 1240px;
  margin: 0 auto;
}
.container > h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.container > p,
ul {
  max-width: 78ch;
  list-style-type: none;
  padding: .75em;
}
.container > p > a {
  color: var(--berry);
  border-radius: 0.25em;
  text-decoration: underline;
}
figure {
  padding: 2.5rem 1.5rem;
  margin: 0 auto;
}
figcaption {
  font-size: 15px;
  text-align: center;
  filter: opacity(0.8);
  padding: 4px;
}
#self-portrait {
  max-width: 400px;
  padding: 1rem;
  border-radius: 50%;
}
.snapshot {
  max-width: 400px;
  padding: 1rem;
}
.project__image {
  max-width: 900px;
  margin: 0 auto;
  border-radius: 1rem;
}
.project__link {
  font-size: 1.2rem;
  text-decoration: underline;
  filter: opacity(0.8);
}
.project-nav {
  align-self: center;
  color: var(--ink);
  margin: 4em;
  font-weight: 700;
  text-decoration: underline;
}
.project-nav:hover {
  color: var(--magenta);
}
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
/* MEDIA QUERIES */
@media (max-width: 900px) {
  .project__image {
    max-width: 98%;
    border-radius: 0;
  }
}
@media (max-width: 700px) {
  .container {
    padding: 0;
    font-size: 1rem;
  }
  #logo {
    max-width: 5rem;
  }
  .nav__logo {
    font-size: 1.5rem;
  }
  .heroimg  {
    height: 280px;
  }
  figure {
    padding: 2rem 0;
  }
}
@media (max-width: 600px) {
  .banner {
    font-size: 1.2rem;
  }
  .banner__intro {
    max-width: 85%;
  }
  .banner__intro > h1 {
    font-size: 2.65em;
    letter-spacing: 0;
  }
  .menu__link {
    font-size: 0.8rem;
  }
  article.card img {
    height: auto;
  }
  #self-portrait {
    max-width: 320px;
  }
  #rock_you {
    display: inline-block;
    aspect-ratio: 16 / 9;
    width: 100%;
    object-fit: cover;
  }
}
